body{
    background-color:white;
}

table{
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border: 3px #0F4526;
    font-size: 25px;
    width: 600px;
    height: 400px;
}

#header-box{
    background-color: #2E8A57;
    color:white;
}
